{% extends "_main.html" %}
{% block content %}
<form action="{{ url_for('index') }}">
  <div class="form-group">
    <label for="first_name">First Name:</label>
    <input type='text' name='first_name' class="form-control" / >
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type='text' name='email' class="form-control" / >
  </div>

  <div class="form-group">
    <label for="feedback">Feedback</label>
    <textarea type='text' name='feedback' class="form-control" rows="5">
    </textarea>
  </div>

  <button type="submit" class="btn btn-primary" style = "border-radius: 15px;">Submit</button>
</form>
{% endblock %}